body {
  background-image: url("../bg.jpg");
}

main {
  display: grid;
  grid-template-rows: auto 1fr;
  gap: 20px;
}

.search-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: max-content;
}

.search-section > h2 {
  font-size: 48px;
  position: sticky;
}

.search-bar {
  display: flex;
  border: 1px solid #ccc;
  border-radius: 10px;
  overflow: hidden;
  margin-top: 10px;
  width: 100%;
}

.search-bar input {
  flex: 1;
  border: none;
  padding: 10px;
  outline: none;
}

.search-bar button {
  background-color: #333;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.search-bar button:hover {
  background-color: #555;
}

.knowledge-section {
  overflow-y: scroll;
}

.knowledge-section > h2 {
  font-size: 36px;
  margin-bottom: 10px;
}

.knowledge-section article {
  border: 1px solid #ccc;
  border-radius: 15px;
  padding: 15px;
  margin-bottom: 10px;
  text-align: justify;
  background-color: rgba(74, 74, 74, 0.5);
}

.knowledge-section h3 {
  font-size: 1.2em;
  margin-bottom: 10px;
}

.knowledge-section p {
  font-size: 1em;
}